h1 {
  font-size: 100px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h3 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.theTitle {
  margin-top: 50px;
  margin-bottom: 100px;
}
.box1 {
  display: inline-flex;
  background-color: white;
  height: 200px;
  border: solid;
  width: 200px;
}
.box2 {
  display: inline-flex;
  background-color: white;
  height: 200px;
  border: solid;
  width: 200px;
}
.box3 {
  display: inline-flex;
  background-color: white;
  height: 200px;
  border: solid;
  border-color: black;
  width: 200px;
}
.box4 {
  display: inline-flex;
  background-color: white;
  height: 200px;
  border: solid;
  border-color: black;
  width: 200px;
}
.boxes {
  justify-content: center;
}
.orbit-slide {
  padding: 20px;
}

.cardsBox {
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-divider {
  font-size: xx-large;
  justify-content: center;
  font-family: monospace;
}
.quoteOfTheDay {
  text-align: center;
}
.dayInHistory {
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#signDate {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#quoteAuthor {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#quoteText {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#mainHeading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10em;
}

#subHeading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5em;
}
